.topheading{
    margin-left: 45%;
}

.scoreboard{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.low{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.image{
    height: 23.3rem;
    width: 24rem;
    display: block;
    margin: 10px auto;
    border: 4px solid #070707; 
    border-radius: 1rem;
    position:relative;
}

.mainbox{
    display: flex;
    margin: auto;
    background-color: yellow;
    height: 25rem;
    width: 60rem;
    border-radius: 2rem;
}

.option{
    display: grid;
    height: 25rem;
    width: 30rem;
    display:block;
    background-color: aqua;
    border-radius: 0rem 1rem 1rem 0rem;
}

.fruit{
    height: 25rem;
    width: 30rem;
    display: block;
    background-color: green;
    border-radius:1rem 0rem 0rem 1rem;
}


