.topheading {
  margin-left: 45%;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


.low{
    position: fixed;
    bottom: 0;
    width: 100%;
    visibility: hidden;
}

.image{
    height: 28rem;
    width: 35rem;
    display: block;
    margin: 10px auto;
    border: 4px solid #070707; 
    border-radius: 1rem;
    position:relative;
}

.mainbox{
    display: flex;
    margin: auto;
    background-color: yellow;
    height: 30rem;
    width: 80rem;
    border-radius: 2rem;
}

.option{
    display: grid;
    height: 30rem;
    width: 40rem;
    background-color: aqua;
    border-radius: 0rem 1rem 1rem 0rem;
    grid-column: 2;
    grid-row: 2;
    border: #070707;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.fruit{
    height: 30rem;
    width: 40rem;
    display: block;
    background-color: green;
    border-radius:1rem 0rem 0rem 1rem;
}

.btn{
    height: 3rem;
    width: 30rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1; /* Makes the main content fill remaining space */
  }
  #menu{
    height: 40px;
    background-color: rgba(114, 166, 136, 0.484);
    justify-content: center;
    align-items: last baseline;
    display: flex;
    justify-content: space-around;
  }
  .anch{
    font-size: large;
    font-style:inherit;
    color: #0f1111;
    text-decoration: null;
    margin-bottom: 10px;
    /* color: #f08804; */
  }
  
